<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <script src="https://cdn.tailwindcss.com"></script>
        
    </head>
    
    <body class="w-full min-h-screen flex flex-col items-center justify-center p-5">
        <!-- profile -->
        
        <div class="flex flex-col items-center justify-center gap-2 w-max">
            <div class="flex flex-col w-96 gap-2 mb-4">
                <p class="text-xl text-center mb-2">Login with credentials</p>
                <input type="text" placeholder="Enter your email" class="border p-3"/>
                <input type="password" placeholder="Enter your password" class="border p-3"/>
                <button type="button" class="bg-blue-500 hover:bg-blue-900 shadow-xl px-7 py-3 text-white" >Login</button>
            </div>
            
            <button type="button" class="flex bg-slate-700 hover:bg-slate-900 shadow-xl px-7 py-3 text-white w-full justify-center items-center" >
                Sign in with 
                <span><img class="w-5 h-5 mx-2" src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg" alt="Google logo">
                </span>
                Google
            </button>

        </div>

        <script>

            
        </script>
        
    </body>
</html>